.k-popover {
    @include popover-variant('k-popover');
    $border-color: #ccc;
    $headColor:#F7F7F7;
    border: 1px solid $border-color;
    background: white;
    border-radius: .25rem;
    color: rgba(0, 0, 0, 0.870588);
    width: 21.875rem;
    min-height: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    .k-popover-inner {
        padding: 0;
    }
    .k-popover-inner-content {
        padding: 0.5rem .875rem;
    }
    .k-popover-title {
        padding: 0.5rem .875rem;
        border-bottom: 1px solid #ebebeb;
        font-weight: bold;
        font-size: 0.875rem;
        background: $headColor;
        border-radius: .25rem .25rem 0 0;
    }
    .k-popover-arrow {
        border: .625rem solid $border-color;
        &::before {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border: .625rem solid #fff;
        }
    }
    &.top,
    &.topLeft,
    &.topRight {
        margin-top: torem(-10px);
        .k-popover-arrow {
            border-color: $border-color transparent transparent transparent;
            left: 50%;
            bottom: -1.25rem;
            margin-left: -.625rem;
            &::before {
                bottom: -.5625rem;
                left: 50%;
                margin-left: -.625rem;
                border-color: #fff transparent transparent transparent;
            }
        }
    }
    &.bottom,
    &.bottomLeft,
    &.bottomRight {
        margin-top: torem(12px);
        .k-popover-arrow {
            border-color: transparent transparent $border-color transparent;
            left: 50%;
            top: -1.25rem;
            margin-left: -.625rem;
            &::before {
                top: -.5625rem;
                left: 50%;
                margin-left: -.625rem;
                border-color: transparent transparent #fff transparent;
            }
        }
    }
    &.left,
    &.leftTop,
    &.leftBottom {
        margin-left:torem(-10px);
        .k-popover-arrow {
            border-color: transparent transparent transparent $border-color;
            top: 50%;
            right: -1.25rem;
            margin-top: -.625rem;
            &::before {
                right: -.5625rem;
                top: 50%;
                margin-top: -.625rem;
                border-color: transparent transparent transparent #fff;
            }
        }
    }
    &.right,
    &.rightTop,
    &.rightBottom {
        margin-left:torem(12px);
        .k-popover-arrow {
            border-color: transparent $border-color transparent transparent;
            top: 50%;
            left: -1.25rem;
            margin-top: -.625rem;
            &::before {
                left: -.5625rem;
                top: 50%;
                margin-top: -.625rem;
                border-color: transparent #fff transparent transparent;
            }
        }
    }

    &.leftTop,
    &.rightTop{
        .k-popover-arrow {
            top:torem(20px);
            &::before{
                border-left-color: $headColor;
            }
        }
    }

    &.rightTop{
        .k-popover-arrow {
            &::before{
                border-left-color: transparent;
                border-right-color: $headColor;
            }
        }
    }

    &.leftBottom,
    &.rightBottom{
        .k-popover-arrow {
            bottom:torem(10px);
            top:auto;
        }
    }

    &.topLeft,
    &.bottomLeft{
        .k-popover-arrow {
            left:torem(20px);
        }
    }

    &.topRight,
    &.bottomRight{
        .k-popover-arrow {
            left:auto;
            right:torem(10px);
        }
    }

    &.bottom,
    &.bottomLeft,
    &.bottomRight{
        .k-popover-arrow {
            &::before{
                border-bottom-color: $headColor;
            }
        }
    }
}