@import '../../assets/styles/global.scss';

.#{$namespace}-dropdown {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &-menu {
    position: absolute;
    box-shadow: $box-shadow-base;
    visibility: hidden;
    transition: all 0.2s ease-in-out;

    >.#{$namespace}-menu {
      border-right: none !important;
      border-radius: $radius-base;

      li {
        min-width: 120px;
      }
    }

    &--topLeft,
    &--top,
    &--topRight {
      margin-top: -$space-base;
    }


    &--bottomLeft,
    &--bottom,
    &--bottomRight {
      margin-top: $space-base;
    }

  }


  &-button-icon {
    padding: $space-base;
  }

}