.k-pagination{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding:0;
    vertical-align: middle;
    margin:.625rem 0;

    @include pagination-variant('primary',$primary);
    @include pagination-variant('info',$info);
    @include pagination-variant('success',$success);
    @include pagination-variant('warning',$warning);
    @include pagination-variant('danger',$danger);

    li{
        display: inline;
        a{
            padding: 0 0.25rem;
            line-height: $line-height;
            text-align: center;
            border:1px solid $pager-border-color;
            margin-left: -1px;
            float: left;
            color: $teal;
            height: $height-default;
            transition: background .3s;
            min-width:2.5rem;
            height:2.5rem;
            line-height:2.5rem;
            .k-icon svg{
                fill:$teal;
            }
        }

        a:hover{
            background: $pager-hover-color;
            color:$pager-font-color;
        }

        &.active{
            a{
                background: $teal;
                color: white;
            }
        }

        &.disabled{
            a{
                cursor:$cursor-disabled;
                color:$disabled-color;
                &:hover{
                    background:none;
                }
                svg{
                    fill:$disabled-color;
                }
            }
        }

        &.k-pagination-prev,
        &.k-pagination-next{
            a{
                //padding:0.5625rem;
            }
        }


        &:first-child{
            a{
                border-radius: $border-radius 0 0 $border-radius;
            }
        }

        &:last-child{
            a{
                border-radius: 0 $border-radius $border-radius 0;
            }
        }

        &.k-pagination-jump-prev,
        &.k-pagination-jump-next{
            // a{
            //     i::before{
            //         content: "\e647";
            //     }
                
            //     &:hover{
            //         i::before{
            //             content:"\E618"
            //         }
            //     }
            // }
        }

        // &.k-pagination-jump-next a:hover i::before{
        //     content:"\E617"
        // }

    }

    &.k-pagination-xs{
        li{
            a{
                font-size:$font-size-xs;
                min-width:1.75rem;
                height:1.75rem;
                line-height:1.75rem;
            }

            .k-icon{
                 font-size:$font-size-xs;
            }
        }
    }

    &.k-pagination-sm{
        li{
            a{
                font-size:$font-size-sm;
                min-width:1.875rem;
                height:1.875rem;
                line-height:1.875rem;
            }
            .k-icon{
                 font-size:$font-size-sm;
            }
        }
    }

    &.k-pagination-lg{
        li{
            a{
                font-size:$font-size-lg;
                min-width:2.8125rem;
                height:2.8125rem;
                line-height:2.8125rem;
            }
            .k-icon{
                 font-size:$font-size-lg;
            }
        }
    }

    
}