@keyframes loadingCircle {
    0% {
        transform-origin: 50% 50%;
        transform: rotate(0deg);
    }
    100% {
        transform-origin: 50% 50%;
        transform: rotate(360deg);
    }
}


.fade-enter,
.fade-exit-active {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
}

.fade-enter-active,
.fade-exit-active {
    transition: opacity .3s ease;
}


.slide-enter {
    max-height: torem(0px);
    transition-duration: 1s !important;
    overflow: hidden;
}

.slide-enter.slide-enter-active {
    max-height: torem(1000px);
}

.slide-exit {
    max-height: torem(1000px);
    overflow: hidden;
}

.slide-exit.slide-exit-active {
    max-height: torem(0px);
}




.slide-down-enter,
.slide-down-exit-active {
    opacity: 0;
    //margin-top: torem(-20px) !important;
    transform:  translateY(-5px);
}

.slide-down-enter-active {
    opacity: 1;
    //margin-top: 0 !important;
    transform: translateY(0);
}

.slide-down-enter-active,
.slide-down-exit-active {
    transition: all .3s ease;
}


.scale-enter,
.scale-exit-active {
    opacity: 0;
    transform: scale(0.5);
}

.scale-enter-active {
    opacity: 1;
    transform: scale(1);
}

.scale-enter-active,
.scale-exit-active {
    transition: all .3s ease;
}

