@keyframes loadingCircle {
    0% {
        transform-origin: 50% 50%;
        transform: rotate(0deg);
    }
    100% {
        transform-origin: 50% 50%;
        transform: rotate(360deg);
    }
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
}


.slide-enter {
    max-height: torem(0px);
    transition-duration: 1s!important;
    overflow: hidden;
}

.slide-enter.slide-enter-active {
    max-height: torem(1000px);
}

.slide-exit {
    max-height: torem(1000px);
    overflow: hidden;
}

.slide-exit.slide-exit-active {
    max-height: torem(0px);
}


.slide-bottom-enter {
    margin-top: torem(-20px)!important;
    opacity: 0!important;
}

.slide-bottom-enter.slide-bottom-enter-active {
    margin-top: 0!important;
    opacity: 1!important;
}

.slide-bottom-exit {
    margin-top: 0!important;
    opacity: 1!important;
}

.slide-bottom-exit.slide-bottom-exit-active {
    margin-top: torem(-20px)!important;
    opacity: 0!important;
}

.slide-top-enter {
    margin-top: torem(20px)!important;
    opacity: 0!important;
}

.slide-top-enter.slide-top-enter-active {
    margin-top: 0!important;
    opacity: 1!important;
}

.slide-top-exit {
    margin-top: 0!important;
    opacity: 1!important;
}

.slide-top-exit.slide-top-exit-active {
    margin-top: torem(20px)!important;
    opacity: 0!important;
}
