@mixin border-left-radius($radius:$border-radius){
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin border-right-radius($radius:$border-radius){
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin border-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-radius: $radius;
  }
}


@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    transition: $transition;
  }
}


@import "mixins/button";
@import "mixins/tag";
@import "mixins/table-row";
@import "mixins/text-truncate";
@import "mixins/panel";
@import "mixins/form";
@import "mixins/progress";
@import "mixins/popover";
@import "mixins/pagination";
@import "mixins/timeline";


