*,
*::after,
*::before {
    box-sizing: border-box;
}

html{
    font-size: $font-size-root;
}

body{
    font-family: $font-family-base;
    font-size:$font-size-base;
    line-height:$line-height;
    margin: 0;
    padding: 0;
    color: $font-color-base;
    overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block; // 1
  vertical-align: baseline; // 2
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  background-color: transparent;
  text-decoration: none;
  color:$primary;
}

a {
  &:active {
    outline: 0;
  }
  &:hover {
    outline: 0;
  }
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0; 
}

blockquote {
  margin: 0 0 1rem;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

figure {
  margin: 0 0 1rem;
}

img{
    border:0;
    vertical-align: middle;
}

mark{
    background:$yellow;
    color:$black;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  font-variant: inherit;
}

textarea {
  resize: vertical;
  overflow: auto;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill{
    box-shadow: 0 0 0 1000px transparent inset;
}

.text-primary{
  color:$primary;
}

.text-info{
  color: $info;
}

.text-success{
  color: $success;
}

.text-warning{
  color: $warning;
}

.text-danger{
  color: $danger;
}
