@import '../../assets/styles/global.scss';

$prefixCls:#{$namespace}-menu;

.#{$prefixCls} {
  margin: 0;
  padding: 0;
  list-style: none;

  &-item {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: $space-sm;
    padding-right: $space-lg;
    padding-bottom: $space-sm;
    cursor: pointer;

    &--disabled {
      cursor: not-allowed;
      color: $disabled-color;
    }

    &--selected {
      color: $primary-color;
    }
  }

  &-submenu {
    position: relative;

    &-title {
      padding-top: $space-sm;
      padding-right: $space-lg;
      padding-bottom: $space-sm;
      cursor: pointer;


    }

    &--disabled {
      .#{$prefixCls}-submenu {
        &-title {
          cursor: not-allowed;
          color: $disabled-color;
        }
      }
    }
  }
}