$prefix:'k-form';
.#{$prefix} {
    &-item {
        &::before {
            content: ' ';
            display: table;
        }
        &::after {
            content: ' ';
            clear: both;
            display: table;
        }
        margin-bottom: torem(16px);
        &__label {
            text-align: right;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0;
            min-width: torem(80px);
            margin-right: torem(12px);
            font-size: $font-size-base;
        }
        &__content {
            position: relative;
            display: inline-block;
            vertical-align: middle;
        }
    }
    &--vertical {
        .#{$prefix}-item {
            &__label {
                display: block;
                text-align: left;
            }
            &__content {
                display: block;
            }
        }
    }
    &--inline {
        .#{$prefix}-item {
            display: inline-block;
            margin-right: torem(24px);
            &__label {
                min-width: auto;
            }
            &__content {
                // .k-slider {
                //     margin-top: torem(14px);
                //     margin-left: torem(8px);
                // }
            }
        }
    }
}

.k-form-control {
    display: block;
    width: 100%;
    font-size: $font-size-base;
    line-height: $line-height;
    background: $input-bgColor;
    color: $input-color;
    padding: $input-padding-y $input-padding-x;
    border: $border-width-base $border-style-base $border-color-base;
    border-radius: $input-border-radius;
    height: $height-default;
    position: relative;
    input {
        font-size: $font-size-base;
    }
    @include form-control-focus();
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
    &:disabled,
    &[readonly] {
        background-color: $input-bg-disabled;
    }
    &[disabled] {
        cursor: $cursor-disabled;
    }
    &.k-form-control-lg {
        @include form-control-lg();
    }
    &.k-form-control-sm {
        @include form-control-sm();
    }
}