$prefix:'k-list';
.#{$prefix} {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 8px 0;
    background-color: inherit;
    font-size: 16px;
    list-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: $font-size-base;
    
    &-bordered {
        border: $border-width-base $border-style-base $border-color-base;
        border-radius: $border-radius;
        .#{$prefix}-header,
        .#{$prefix}-footer,
        .#{$prefix}-item {
            padding-left: torem(24px);
            padding-right: torem(24px);
        }
    }
    &.#{$prefix}-bordered.#{$prefix}-sm {
        .#{$prefix}-header,
        .#{$prefix}-footer,
        .#{$prefix}-item {
            padding-left: torem(16px);
            padding-right: torem(16px);
        }
    }
    &.#{$prefix}-bordered.#{$prefix}-lg {
        .#{$prefix}-header,
        .#{$prefix}-footer,
        .#{$prefix}-item {
            padding-left: torem(24px);
            padding-right: torem(24px);
        }
    }
    &-split {
        .#{$prefix}-header {
            border-bottom: $border-width-base $border-style-base $border-color-base;
        }
        .#{$prefix}-item {
            border-bottom: $border-width-base $border-style-base $border-color-base;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    &-header,
    &-footer,
    &-item {
        padding: torem(12px) 0;
    }
    &-item {
        display: flex;
        align-items: center;
        &-content {
            flex: 1;
        }
        &-actions {
            list-style: none;
            margin: 0;
            padding: 0;
            >li {
                display: inline-block;
                color: rgba(0, 0, 0, 0.45);
                cursor: pointer;
                .k-icon svg {
                    fill: rgba(0, 0, 0, 0.45);
                }
            }
            &__separator {
                margin: 0 torem(8px);
                cursor: default !important;
            }
        }
        &-meta {
            display: flex;
            flex: 1;
            &__avatar{
                margin-right: torem(16px);
                width: torem(32px);
                height:torem(32px);
                line-height: torem(32px);
                text-align: center;
                border-radius: 50%;
                overflow: hidden;
            }
            &__content {
                flex: 1;
            }
            &__title{
                color:rgba(0,0,0,0.65);
                margin-bottom: torem(4px);
                font-weight: 500;
            }
            &__description{
                color:rgba(0,0,0,0.45);
            }
        }
    }
    &-sm {
        .#{$prefix}-header,
        .#{$prefix}-footer,
        .#{$prefix}-item {
            padding: torem(8px) 0;
        }
    }
    &-lg {
        .#{$prefix}-header,
        .#{$prefix}-footer,
        .#{$prefix}-item {
            padding: torem(16px) 0;
        }
    }
}