@mixin button-variant($color,$bgColor,$border,$isDark:true){
    color: $color;
    background: $bgColor;
    border-color: $border;

    @if $isDark {
        &:hover {
            background: darken($bgColor, 5%);
            border-color: darken($border, 7%);
        }

        &:active {
            background: darken($bgColor, 10%);
            border-color: darken($border, 15%);
        }
    }@else{
        &:hover {
            background: lighten($bgColor, 5%);
            border-color: lighten($border, 7%);
        }

        &:active {
            background: lighten($bgColor, 10%);
            border-color: lighten($border, 15%);
        }
    }
}


@mixin button-size($padding-y,$padding-x,$font-size, $line-height,$border-radius){
    padding:$padding-y $padding-x;
    line-height: $line-height;
    font-size: $font-size;
    border-radius:$border-radius;
}

@mixin button-group-border($borderColor){
    border-left-color:darken($borderColor, 5%);
}

