@mixin form-control-focus() {
  &:focus {
    border-color: $input-border-focus;
    outline: none;
    $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $input-box-shadow-focus;
    @include box-shadow($shadow);
  }
}

@mixin form-control-lg(){
    padding:$input-padding-y-lg $input-padding-x-lg;
    font-size: $font-size-lg;
    height: $height-lg;
}

@mixin form-control-sm(){
    padding:$input-padding-y-sm $input-padding-x-sm;
    font-size: $font-size-xs;
    height: $height-sm;
}