@mixin notification-left-effect($width) {
    .notice-enter {
        left: -$width;
    }
    .notice-enter.notice-enter-active {
        left: 0;
    }
    .notice-exit {
        left: 0;
    }
}

@mixin notification-right-effect($width) {
    .notice-enter {
        right: -$width;
    }
    .notice-enter.notice-enter-active {
        right: 0;
    }
    .notice-exit {
        right: 0;
    }
}

@mixin notification-notice-state($state, $color) {
    &.k-notice-#{$state}>.k-icon:first-child {
        color: $color;
        font-size:torem(30px);
        margin-right:torem(15px);
        vertical-align: top;
        // margin-top:torem(-10px);
        svg{
            fill: $color;
        }
    }
}