@mixin pagination-variant($state,$color){
    &.k-pagination-#{$state}{
        li{

            a{
                color:$color;
                .k-icon svg{
                    fill:$color;
                }
            }

            &.active{
                a{
                    background:$color;
                }
            }
        }
    }
}