@mixin popover-variant($prefix) {
    $base-color: rgba(0, 0, 0, .8);
    background: $base-color;
    color: white;
    font-weight: 400;
    max-width: 17.5rem;
    border-radius: $border-radius;
    position: absolute;
    transition:  opacity .3s;
    //visibility: hidden;
    opacity: 0;
    &.#{$prefix}-hidden {
        display: none;
    }
    &.in {
        //visibility: visible;
        opacity: 1;
    }
    .#{$prefix}-arrow {
        width: 0;
        height: 0;
        position: absolute;
        border: .3125rem solid $base-color;
    }
    .#{$prefix}-inner {
        padding: 0.5rem .875rem;
    }
    &.#{$prefix}-primary {
        background: $primary;
        &.top .#{$prefix}-arrow,
        &.topLeft .#{$prefix}-arrow,
        &.topRight .#{$prefix}-arrow {
            border-top-color: $primary;
        }
        &.left .#{$prefix}-arrow,
        &.leftTop .#{$prefix}-arrow,
        &.leftBottom .#{$prefix}-arrow {
            border-left-color: $primary;
        }
        &.right .#{$prefix}-arrow,
        &.rightTop .#{$prefix}-arrow,
        &.rightBottom .#{$prefix}-arrow {
            border-right-color: $primary;
        }
        &.bottom .#{$prefix}-arrow,
        &.bottomLeft .#{$prefix}-arrow,
        &.bottomRight .#{$prefix}-arrow {
            border-bottom-color: $primary;
        }
    }
    &.#{$prefix}-info {
        background: $info;
        &.top .#{$prefix}-arrow,
        &.topLeft .#{$prefix}-arrow,
        &.topRight .#{$prefix}-arrow {
            border-top-color: $info;
        }
        &.left .#{$prefix}-arrow,
        &.leftTop .#{$prefix}-arrow,
        &.leftBottom .#{$prefix}-arrow {
            border-left-color: $info;
        }
        &.right .#{$prefix}-arrow,
        &.rightTop .#{$prefix}-arrow,
        &.rightBottom .#{$prefix}-arrow {
            border-right-color: $info;
        }
        &.bottom .#{$prefix}-arrow,
        &.bottomLeft .#{$prefix}-arrow,
        &.bottomRight .#{$prefix}-arrow {
            border-bottom-color: $info;
        }
    }
    &.#{$prefix}-success {
        background: $success;
        &.top .#{$prefix}-arrow,
        &.topLeft .#{$prefix}-arrow,
        &.topRight .#{$prefix}-arrow {
            border-top-color: $success;
        }
        &.left .#{$prefix}-arrow,
        &.leftTop .#{$prefix}-arrow,
        &.leftBottom .#{$prefix}-arrow {
            border-left-color: $success;
        }
        &.right .#{$prefix}-arrow,
        &.rightTop .#{$prefix}-arrow,
        &.rightBottom .#{$prefix}-arrow {
            border-right-color: $success;
        }
        &.bottom .#{$prefix}-arrow,
        &.bottomLeft .#{$prefix}-arrow,
        &.bottomRight .#{$prefix}-arrow {
            border-bottom-color: $success;
        }
    }
    &.#{$prefix}-warning {
        background: $warning;
        &.top .#{$prefix}-arrow,
        &.topLeft .#{$prefix}-arrow,
        &.topRight .#{$prefix}-arrow {
            border-top-color: $warning;
        }
        &.left .#{$prefix}-arrow,
        &.leftTop .#{$prefix}-arrow,
        &.leftBottom .#{$prefix}-arrow {
            border-left-color: $warning;
        }
        &.right .#{$prefix}-arrow,
        &.rightTop .#{$prefix}-arrow,
        &.rightBottom .#{$prefix}-arrow {
            border-right-color: $warning;
        }
        &.bottom .#{$prefix}-arrow,
        &.bottomLeft .#{$prefix}-arrow,
        &.bottomRight .#{$prefix}-arrow {
            border-bottom-color: $warning;
        }
    }
    &.#{$prefix}-danger {
        background: $danger;
        &.top .#{$prefix}-arrow,
        &.topLeft .#{$prefix}-arrow,
        &.topRight .#{$prefix}-arrow {
            border-top-color: $danger;
        }
        &.left .#{$prefix}-arrow,
        &.leftTop .#{$prefix}-arrow,
        &.leftBottom .#{$prefix}-arrow {
            border-left-color: $danger;
        }
        &.right .#{$prefix}-arrow,
        &.rightTop .#{$prefix}-arrow,
        &.rightBottom .#{$prefix}-arrow {
            border-right-color: $danger;
        }
        &.bottom .#{$prefix}-arrow,
        &.bottomLeft .#{$prefix}-arrow,
        &.bottomRight .#{$prefix}-arrow {
            border-bottom-color: $danger;
        }
    }
    &.top,
    &.topLeft,
    &.topRight {
        margin-top: -.5rem;
        .#{$prefix}-arrow {
            border-color: $base-color transparent transparent transparent;
            left: 50%;
            bottom: -.625rem;
            margin-left: -.3125rem;
        }
    }
    &.left,
    &.leftTop,
    &.leftBottom {
        margin-left: -.5rem;
        .#{$prefix}-arrow {
            border-color: transparent transparent transparent $base-color;
            top: 50%;
            margin-top: -.3125rem;
            right: -.625rem;
        }
    }
    &.bottom,
    &.bottomLeft,
    &.bottomRight {
        margin-top: .5rem;
        .#{$prefix}-arrow {
            border-color: transparent transparent $base-color transparent;
            left: 50%;
            top: -.625rem;
            margin-left: -.3125rem;
        }
    }
    &.right,
    &.rightTop,
    &.rightBottom {
        margin-left: .5rem;
        .#{$prefix}-arrow {
            border-color: transparent $base-color transparent transparent;
            left: -.625rem;
            top: 50%;
            margin-top: -.3125rem;
        }
    }
    &.topLeft,
    &.bottomLeft {
        .#{$prefix}-arrow {
            left: torem(16px);
        }
    }
    &.topRight,
    &.bottomRight {
        .#{$prefix}-arrow {
            right: torem(16px);
            left: auto;
        }
    }
    &.leftTop,
    &.rightTop {
        .#{$prefix}-arrow {
            top: torem(14px);
        }
    }
    &.leftBottom,
    &.rightBottom {
        .#{$prefix}-arrow {
            top: auto;
            bottom: torem(10px);
        }
    }
}