.k-badge{
    background: #777;
    color:#fff;
    display: inline-block;
    vertical-align: middle;
    padding:.1875rem .4375rem;
    line-height: 1;
    white-space: nowrap;
    min-width: .625rem;
    border-radius: .625rem;
    font-weight: 700;
    text-align: center;

    &.k-badge-primary{
        background: $primary;
    }

    &.k-badge-info{
        background: $info;
    }

    &.k-badge-success{
        background: $success;
    }

    &.k-badge-warning{
        background: $warning;
    }

    &.k-badge-danger{
        background: $danger;
    }

    &:empty{
        display: none;
    }
}