.k-btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: medium none;
    position: relative;
    transition: all .3s ease-in-out;
    font-weight: 500;
    outline: none;
    border: 1px solid;
    &:not(.k-btn-raised),
    &:not(.k-btn-fab) {
        box-shadow: none;
        background: transparent;
    }
    @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $line-height, $btn-border-radius);
    @include button-variant($btn-default-color, $btn-default-bg, white);
    &.k-btn-raised,
    &.k-btn-fab {
        //box-shadow: $box-shadow-base;
    }
    &.disabled {
        box-shadow: none;
        background: transparent;
        cursor: $cursor-disabled;
        color: rgba(#000000, (26/100));
        border-color: white;
        &.k-btn-raised,
        &.k-btn-fab {
            &,
            &:hover,
            &:focus,
            &:active {
                box-shadow: none;
                color: rgba(#000000, (30/100));
                background: rgba(#000000, (12/100));
                border-color: rgba(0, 0, 0, 0);
            }
        }
    }
}

.k-btn-fab {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    line-height: normal;
    padding: 0;
    &.k-btn-xs,
    &.k-btn-sm,
    &.k-btn-lg {
        padding: 0;
    }
    &.k-btn-xs {
        width: 1.5rem;
        height: 1.5rem;
    }
    &.k-btn-sm {
        width: 2.5rem;
        height: 2.5rem;
    }
    &.k-btn-lg {
        width: 4.5rem;
        height: 4.5rem;
    }
}

.k-btn-default,
    {
    color: $font-color-base;
    &.k-btn-raised,
    &.k-btn-fab {
        @include button-variant($font-color-base, $default, $border-color-base, true);
    }
}

.k-btn-primary {
    color: $primary;
    &.k-btn-raised,
    &.k-btn-fab {
        @include button-variant($white, $primary, $primary, true);
    }
}

.k-btn-info {
    color: $info;
    &.k-btn-raised,
    &.k-btn-fab {
        @include button-variant($white, $info, $info, true);
    }
}

.k-btn-success {
    color: $success;
    &.k-btn-raised,
    &.k-btn-fab {
        @include button-variant($white, $success, $success, true);
    }
}

.k-btn-warning {
    color: $warning;
    &.k-btn-raised,
    &.k-btn-fab {
        @include button-variant($white, $warning, $warning, true);
    }
}

.k-btn-danger {
    color: $danger;
    &.k-btn-raised,
    &.k-btn-fab {
        @include button-variant($white, $danger, $danger, true);
    }
}

.k-btn-block {
    display: block;
    width: 100%;
}

.k-btn-lg {
    font-size: $font-size-lg;
    .k-icon {
        font-size: $font-size-lg;
    }
}

.k-btn-sm {
    font-size: $font-size-sm;
    padding: $btn-padding-y-sm $btn-padding-x-sm;
    font-size: $font-size-sm;
    .k-icon {
        font-size: $font-size-sm;
    }
}

.k-btn-xs {
    font-size: $font-size-xs;
    padding: $btn-padding-y-xs $btn-padding-x-xs;
    font-size: $font-size-xs;
    .k-icon {
        font-size: $font-size-xs;
    }
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.k-btn-block {
        width: 100%;
    }
}

.k-btn-group {
    display: inline-block;
    position: relative;
    >.k-btn {
        margin: 0;
        box-shadow: none;
        outline: none;
        >.k-icon {
            margin: 0;
            vertical-align: middle;
        }
        &:focus {
            box-shadow: none;
        }
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &.k-btn-raised.k-btn-default+.k-btn-raised.k-btn-default {
            border-left-width: 0;
            &.active {
                border-left-width: 1px;
                margin-left: -1px;
            }
        }
        &.k-btn-raised.k-btn-primary+.k-btn-raised.k-btn-primary {
            @include button-group-border($primary);
        }
        &.k-btn-raised.k-btn-info+.k-btn-raised.k-btn-info {
            @include button-group-border($info);
        }
        &.k-btn-raised.k-btn-success+.k-btn-raised.k-btn-success {
            @include button-group-border($success);
        }
        &.k-btn-raised.k-btn-warning+.k-btn-raised.k-btn-warning {
            @include button-group-border($warning);
        }
        &.k-btn-raised.k-btn-danger+.k-btn-raised.k-btn-danger {
            @include button-group-border($danger);
        }
    }
}