.k-checkbox {
    &.k-checkbox-inline {
        &.toggleButton {
            margin-right: 0.625rem;
        }
    }
    label {
        .material {
            padding-right: 0.1875rem;
            &::before {
                content: " ";
                position: absolute;
                width: 3.25rem;
                height: 3.25rem;
                border-radius: 50%;
                background: $checked-color;
                left: -1rem;
                top: -1rem;
                opacity: 0;
                transform: scale(0);
                transition: transform 0.3s;
            }
            .check {
                border: 1px solid rgba(#000, (50/100));
                @include border-radius(2px);
                width: 1rem;
                height: 1rem;
                display: inline-block;
                position: absolute;
                top: 0.2rem;
                margin-left: -1.15rem;
                z-index: 1;
                transition: background 0.3s ease;
                z-index: 1;
                background: white;
                &::before {
                    content: " ";
                    position: absolute;
                    border-left: 2px solid white;
                    border-bottom: 2px solid white;
                    left: 0.0875rem;
                    top: 0.1875rem;
                    height: 0.375rem;
                    width: 0.75rem;
                    transform: rotate(-45deg) scale(0);
                    opacity: 0;
                    transition: all .2s;
                }
            }
            &.indeterminate {
                .check {
                    background: $checked-color;
                    border-color: $checked-color;
                    &::before {
                        top: 50%;
                        left: 50%;
                        border: none;
                        background: white;
                        transform: translate(-50%, -50%);
                        height: 2px;
                        width: 80%;
                        opacity: 1;
                    }
                }
            }
        }
        .toggle {
            display: inline-block;
            width: 1.875rem;
            height: 1em;
            border-radius: 0.9375rem;
            vertical-align: middle;
            position: relative;
            margin-left: -1.25rem;
            margin-right: 0.5rem;
            transition: background 0.3s;
            &::before {
                content: "";
                position: absolute;
                width: 1.375rem;
                height: 1.375rem;
                border-radius: 50%;
                left: -0.3125rem;
                top: -0.25rem;
                box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.4);
                transition: left 0.3s, background 0.3s;
                z-index: 1;
            }
            &::after {
                content: "";
                width: 3.25rem;
                height: 3.25rem;
                border-radius: 50%;
                position: absolute;
                opacity: 0;
                top: -1.25rem;
                transform: scale(0);
                transition: left 0.3s, transform 0.5s;
                z-index: 0;
            }
        }
        input[type="checkbox"] {
            &:checked {
                &+.material {
                    .check {
                        border-color: $checked-color;
                        background: $checked-color;
                        &::before {
                            opacity: 1;
                            transform: rotate(-45deg) scale(1);
                        }
                    }
                }
                &+.toggle {
                    background: $toggle-on-bgColor;
                    &::before {
                        left: 15px;
                        background: $checked-color;
                    }
                    &::after {
                        left: -0.125rem;
                        background: $checked-color;
                    }
                }
            }
            &:not(:checked) {
                &+.toggle {
                    background: $toggle-off-bgColor;
                    &::before {
                        background: #f5f5f5;
                    }
                    &::after {
                        left: -1.375rem;
                        background: black;
                    }
                }
            }
            &:focus {
                &:checked {
                    &+.material {
                        &::before {
                            animation: rippleOn 0.7s;
                        }
                    }
                }
                &:not(:checked) {
                    &+.material {
                        &::before {
                            animation: rippleOff 0.7s;
                        }
                    }
                }
            }
        }
    }
    &.disabled {
        label {
            .material {
                .check {
                    border-color: $disabled-color;
                    background: $disabled-bgColor;
                }
                &.indeterminate {
                    .check {
                        &::before {
                            background: $disabled-color;
                        }
                    }
                }
            }
            input[type="checkbox"][disabled] {
                &:checked {
                    &+.material {
                        &::before {
                            transform: scale(0);
                        }
                        .check {
                            border-color: $disabled-color;
                            background: $disabled-bgColor;
                            &::before {
                                border-color: $disabled-color;
                            }
                        }
                    }
                    &+.toggle {
                        &::before {
                            background: $toggle-on-disabled-bgColor;
                        }
                    }
                }
                &:not(:checked) {
                    &+.toggle {
                        &::before {
                            background: $disabled-color;
                        }
                    }
                }
            }
        }
    }
    &.k-checkbox-material,
    &.k-checkbox-toggle {
        input[type="checkbox"] {
            visibility: hidden;
        }
    }
}

.toggleButton {
    input[type="checkbox"] {
        display: none;
    }
}