.k-confirm {
    padding:torem(20px) torem(30px);
    .k-confirm-body {
        >.k-icon{
            font-size: torem(26px);
            margin-right: torem(15px);
            float: left;
        }
        .k-confirm-title{
            font-weight: 700;
            font-size: torem(14px);
            color: rgba(0,0,0,.65);
            display: inline-block;
            margin-top: torem(9px);
        }
        .k-confirm-content {
            padding-top:torem(6px);
            font-size: torem(12px);
            margin-left:torem(42px);
            margin-top:torem(8px);
        }


    }

    .k-confirm-btns{
        text-align: right;
        margin-top: torem(30px);
        .k-btn{
            margin-left: torem(10px);
        }
    }
    
}