$prefixCls:'.k-datepicker';

#{$prefixCls} {
    //border: $border-width-base $border-style-base $border-color-base;
    background: white;
    z-index: 1050;
    min-width: torem(250px);
    &-header {
        display: flex;
        text-align: center;
        height: torem(40px);
        line-height: torem(40px);
        padding-left: torem(10px);
        padding-right: torem(10px); // border-bottom: $border-width-base $border-style-base $border-color-base;
        .k-icon {
            cursor: pointer;
            flex: 0;
            font-size: $font-size-xs;
            vertical-align: middle;
        }
        &-select {
            flex: 1;
            &-year {
                margin-right: torem(5px);
            }
            &-year,
            &-month {
                cursor: pointer;
            }
        }
        a {
            color: $font-color-base;
            &:hover {
                color: $primary;
            }
        }
    }
    &-body {
        padding: torem(10px);
        table {
            width: 100%;
            tr {
                td {
                    text-align: center;
                    padding: 0 torem(6px);
                    a {
                        cursor: pointer;
                        &:hover {
                            color: $primary;
                        }
                        &.active {
                            background: $primary;
                            color: white;
                        }
                        &.disabled {
                            cursor: $cursor-disabled;
                        }
                    }
                    a,
                    span {
                        font-size: $font-size-sm;
                        padding: 0 torem(6px);
                        border-radius: torem(2px);
                        display: block;
                        color: $font-color-base;
                        height: torem(24px);
                        line-height: torem(24px);
                        &.prev,
                        &.next,
                        &.week {
                            color: #c0c4cc;
                        }
                        &.disabled {
                            color: #bcbcbc;
                            background: #f5f5f5
                        }
                    }
                }
            }
        }
    }
    &-footer {
        position: relative;
        padding: torem(10px);
        border-top: $border-width-base $border-style-base $border-color-base;
    }
    &-time-header {
        display: table;
        padding: torem(10px) torem(5px);
        border-bottom: $border-width-base $border-style-base $border-color-base;
        >div {
            display: table-cell;
            padding: 0 torem(5px)
        }
    }
    &-year-table,
    &-month-table {
        td {
            width: torem(66px);
            height: torem(66px);
            line-height: torem(66px) a {}
        }
    }
    &-day-table {
        tr {
            &.week-row {
                cursor: pointer;
                &:hover {
                    background: #ECF6FD;
                }
                &.active {
                    background: $primary;
                    span {
                        background: $primary;
                        color: white !important;
                    }
                }
            }
            td {
                height: torem(30px);
                line-height: torem(30px);
                a,
                span {
                    &.curDay {
                        color: $primary
                    }
                }
            }
        }
    }
    &-today-btn {
        display: inline-block;
        margin: 0 auto;
        cursor: pointer;
        font-size: $font-size-sm;
    }
    &-now-btn {
        margin-right: torem(10px);
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        font-size: $font-size-sm;
    }
}