.k-dropdown {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    .k-dropdown-menu {
        position: absolute;
        border: none;
        background: white;
        box-shadow: $box-shadow-base;
        z-index: 10;
        border-radius: $border-radius;
        
    }
    &.k-btn-group {
        > .k-btn.last-btn {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}
