@mixin icon-color($state, $color) {
    &.k-icon-#{$state} {
        color: $color;
        svg {
            fill: $color;
        }
    }
}

.k-icon {
    font-size: inherit;
    vertical-align: middle;
    margin: 0 .185rem; //transition: all .3s;
    text-align: center;
    line-height: 0;
    display: inline-block;
    &.k-spin {
        animation: loadingCircle 1s infinite linear;
    }
    @include icon-color('primary', $primary);
    @include icon-color('info', $info);
    @include icon-color('warning', $warning);
    @include icon-color('success', $success);
    @include icon-color('danger', $danger);
    svg {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        vertical-align: middle;
        margin-top: torem(-2px);
        fill:#333
    }
}