.k-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    .k-menu-item {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        height: torem(42px);
        line-height: torem(42px);
        color: $font-color-base;
        cursor: pointer;
        &:hover {
            color: $primary;
        }
        &.k-menu-active {
            background: #ECF6FD;
        }
        >.k-icon:first-child {
            margin-right: torem(8px);
        }
    }
}