.k-menu {
    $activeBgColor: #ECF6FD;
    margin: 0;
    padding: 0;
    list-style: none;
    &.k-menu-root {
        border-right: 1px solid #e8e8e8;
    }
    .k-menu-item {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        height: torem(40px);
        line-height: torem(40px);
        color: $font-color-base;
        cursor: pointer;
        padding-right: torem(20px);
        min-width: torem(160px);
        &:hover {
            color: $primary;
        }
        &.k-menu-item-active {
            background: $activeBgColor;
            color: $primary;
            &:after {
                content: ' ';
                position: absolute;
                height: 100%;
                width: 3px;
                background: $primary;
                right: 0;
            }
        }
    }
    .k-menu-submenu {
        position: relative;
        min-width: torem(160px);
        .k-menu-submenu-title {
            padding-right: 0;
            .direction {
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                right: torem(5px);
            }
        }
        .k-menu-sub {
            transition: all .3s ease;
        }
    }
    .k-icon {
        margin-right: torem(5px);
    }
}

//垂直
.k-menu-vertical.k-menu-root {
    .k-menu-item {
        &.k-menu-item-active {
            &:after {
                width: 0;
            }
        }
    }
    .k-menu-sub {
        border-radius: $border-radius;
        background: white;
        box-shadow: $box-shadow-base;
        position: absolute;
        margin-left: torem(3px);
        transform: scale(1);
        transform-origin: 0 0 0;
        
    }
}

//水平
.k-menu-horizontal.k-menu-root {
    border-bottom: $border-width-base $border-style-base $border-color-base;
    &:after {
        content: ' ';
        clear: both;
        display: block;
    }
    >li {
        float: left;
        height: torem(40px);
        &.k-menu-item-active {
            border-bottom: 2px solid $primary;
            background: none;
        }
        >.k-menu-sub {
            .k-menu-sub {
                margin-left: torem(3px);
                
            }
        }
        &.k-menu-submenu-selected{
            border-bottom: 2px solid $primary;
        }
    }
    .k-menu-item {
        &.k-menu-item-active {
            &:after {
                width: 0;
            }
        }
    }
    .k-menu-sub {
        box-shadow: $box-shadow-base;
        border-radius: $border-radius;
        position: absolute;
        background: white;
    }
}

.k-menu-pop-appear{
    transform: scale(0)!important;
    
}

.k-menu-pop-appear.k-menu-pop-appear-active {
    transform: scale(0)!important;
}

.k-menu-pop-enter {
    transform: scale(0)!important;
}

.k-menu-pop-enter.k-menu-pop-enter-active {
    transform: scale(1)!important;
}

.k-menu-pop-exit {
    transform: scale(1)!important;
}

.k-menu-pop-exit.k-menu-pop-exit-active {
    transform: scale(0)!important;
}