.k-message {
    position: fixed; //top: torem(20px);
    display: flex;
    padding: torem(8px) torem(16px);
    border: $border-width-base $border-style-base $border-color-base;
    border-radius: $border-radius;
    box-shadow: $box-shadow-base;
    left: 50%;
    transform: translateX(-50%);
    background-color: $backgrouond-color-base; 
    opacity: 1;
    top: torem(20px);
    transition: all ease .5s;

    .k-icon {
        margin-right: torem(10px);
    }
    .k-message-content {}
    @include message-variant('info', $info);
    @include message-variant('success', $success);
    @include message-variant('error', $danger);
    @include message-variant('warning', $warning);
}

.message-enter {
    opacity: 0;
    top: torem(0px);
}

.message-enter.message-enter-active {
    opacity: 1;
    top: torem(20px);
}

.message-exit {
    opacity: 0;
    top: torem(0px);
}

.message-exit.message-exit-active {
    //opacity: 1;
    //top:torem(20px);
}