.k-multiple-list {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: $border-width-base $border-style-base $border-color-base;
    border-radius: $border-radius;
    width: 100%;
    cursor: pointer;
    min-height: torem(40px);

    .k-multiple-list-selection {
        .k-multiple-list-choice-list {
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;
            padding-left: torem(5px);
            padding-top: torem(5px);
            vertical-align: middle;
            font-size: $font-size-base;
            min-height: torem(38px);
            display: flex;
            flex-wrap: wrap;
            li {
                position: relative;
                vertical-align: middle;
                height: torem(28px);
                line-height: torem(26px);
                margin-bottom: torem(5px);
                margin-right: torem(5px);

                &.item {
                    border: $border-width-base $border-style-base
                        $border-color-base;
                    border-radius: $border-radius;
                    padding: 0 torem(20px) 0 torem(10px);
                    background: #f3f3f3;
                    cursor: default;

                    .k-icon {
                        position: absolute;
                        right: 0px;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        z-index: 1;
                        &.icon-caretdown {
                            color: #bfbfbf;
                        }
                    }
                }

                .k-multiple-list-input {
                    border: none;
                    height: torem(28px);
                    width: 100%;
                    padding-left:7px;
                    &:focus{
                        border-color:transparent;
                        box-shadow: inherit;
                    }
                }
            }
        }
    }

    .k-multiple-list-placeholder {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        line-height: torem(40px);
        padding-left: torem(12px);
        color: #bfbfbf;
        border-radius: $border-radius;
    }

    &.disabled {
        cursor: $cursor-disabled;
        background: $disabled-bgColor;
        color: $disabled-color;
        .k-multiple-list-selection {
            .k-multiple-list-choice-list {
                li {
                    cursor: $cursor-disabled;
                    background: $disabled-bgColor;
                    color: $disabled-color;
                    .k-multiple-choice-content {
                        cursor: $cursor-disabled;
                        background: $disabled-bgColor;
                        color: $disabled-color;
                    }
                    .k-icon {
                        cursor: $cursor-disabled;
                    }

                    
                }
            }
        }
    }

    &.k-multiple-list-sm {
        min-height: torem(34px);
        .k-multiple-list-selection {
            .k-multiple-list-choice-list {
                padding-left: torem(4px);
                padding-top: torem(4px);
                font-size: $font-size-sm;
                min-height: torem(32px);
                li {
                    margin-bottom: torem(4px);
                    margin-right: torem(4px);
                    height: torem(24px);
                    line-height: torem(22px);
                    .k-multiple-list-input {
                        height: torem(22px);
                        padding-left:6px;
                    }
                }
            }
        }
        .k-multiple-list-placeholder {
            line-height: torem(34px);
            padding:0 torem(10px);
            font-size: $font-size-sm;
        }
    }

    &.k-multiple-list-lg {
        min-height: torem(52px);
        .k-multiple-list-selection {
            .k-multiple-list-choice-list {
                padding-left: torem(8px);
                padding-top: torem(8px);
                font-size: $font-size-lg;
                min-height: torem(50px);
                li {
                    margin-bottom: torem(8px);
                    margin-right: torem(8px);
                    height: torem(34px);
                    line-height: torem(32px);
                    .k-multiple-list-input {
                        height: torem(34px);
                        padding-left:torem(8px);
                    }
                }
            }
        }
        .k-multiple-list-placeholder {
            line-height: torem(52px);
            padding:0 torem(16px);
            font-size: $font-size-lg;
        }
    }
}
