.k-popconfirm {
    padding: 0.5rem .875rem;
    .k-popconfirm-message {
        margin-top: torem(10px);
        margin-bottom: torem(10px);
        display: flex;
        .k-icon {
            margin-right: torem(5px);
        }
        .k-popconfirm-message-title {}
    }
    .k-popconfirm-buttons {
        text-align: right;
        margin-bottom: torem(10px);
        >.k-btn:first-child {
            margin-right: torem(6px);
        }
    }


    &.leftTop,
    &.rightTop{
        .k-popover-arrow {
            &::before{
                border-left-color: $white!important;
            }
        }
    }

    &.rightTop{
        .k-popover-arrow {
            &::before{
                border-left-color: transparent;
                border-right-color: $white!important;
            }
        }
    }

    &.leftTop,
    &.rightTop {
        .k-popover-arrow {
            &::before {
                border-left-color: $white!important;
            }
        }
    }
    &.bottom,
    &.bottomLeft,
    &.bottomRight {
        .k-popover-arrow {
            &::before {
                border-bottom-color: $white!important;
            }
        }
    }
}