.k-radio {
    label {
        .material{

            padding-right: .1875rem;
            display: inline;

            &::before{
                content:" ";
                position: absolute;
                width: 3.25rem;
                height:3.25rem;
                border-radius: 50%;
                background: $checked-color;
                left:-1rem;
                top:-1rem;
                opacity: 0;
                transform: scale(0);
            }

            .check{
                display: inline-block;
                width: torem(18px);
                height:torem(18px);
                border-radius: 50%;
                background: white;
                position: absolute;
                border:2px solid $primary;
                margin-left: torem(-20px);
                top:torem(2px);

                &::before{
                    content:'';
                    position: absolute;
                    width: torem(9px);
                    height:torem(9px);
                    border-radius: 50%;
                    background: $primary;
                    left:torem(2.8px);
                    top:torem(2.8px);
                    transform:scale(0);
                    transition: transform .3s;
                }

            }
        }

        input[type='radio']{
            &:checked{
                &+.material{
                    .check{
                        &::before{
                            transform:scale(1);
                        }
                    }
                }
            }

            &:focus{
                &:checked{
                    &+.material{
                        &::before{
                            animation: rippleOn .7s;
                        }
                    }
                }

                &:not(:checked){
                   &+.material{
                        .check{
                            &::before{
                                transform:scale(0);
                            }
                        }
                    }
                } 

            }
        }
    }

     &.disabled{
            label{
                .material {
                    .check{    
                        border-color: $disabled-color;
                        &::before{
                            background:$disabled-color;
                        }
                    }
                }
            }
        }
}