.k-radio {
    label {
        .material {
            padding-right: .1875rem;
            display: inline;
            
            .check {
                display: inline-block;
                width: torem(16px);
                height: torem(16px);
                border-radius: 50%;
                background: white;
                position: absolute;
                border: 2px solid $primary; //margin-left: torem(-20px);
                //top:torem(2px);
                top: torem(2px);
                top: 0.1875rem\0;
                left: torem(-1px);
                &::before {
                    content: '';
                    position: absolute;
                    width: torem(6px);
                    height: torem(6px);
                    border-radius: 50%;
                    background: $primary;
                    left: torem(3px);
                    top: torem(3px);
                    transform: scale(0);
                    transition: transform .3s;
                }
            }
        }
        input[type='radio'] {
            &:checked {
                &+.material {
                    .check {
                        &::before {
                            transform:scale(1);
                        }
                    }
                }
            }
            &:focus {
                &:checked {
                    &+.material {
                        &::before {
                            animation: rippleOn .7s;
                        }
                    }
                }
                &:not(:checked) {
                    &+.material {
                        .check {
                            &::before {
                                transform: scale(0);
                            }
                        }
                    }
                }
            }
        }
    }
    &.disabled {
        label {
            .material {
                .check {
                    border-color: $disabled-color;
                    &::before {
                        background: $disabled-color;
                    }
                }
            }
        }
    }
}