$icon-color:rgba(0, 0, 0, 0.25);
$title-color:rgba(0, 0, 0, 0.45);
$desc-color:rgba(0, 0, 0, 0.45);
$tail-color:#e8e8e8;
.k-steps {
    font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    .k-steps-item {
        flex: 1;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        .k-steps-item-tail {
            position: absolute;
            left: 0;
            top: 0;
            &:after{
                content: ' ';
                display: inline-block;
                width: 100%;
                border-radius: 1px;
                height: 1px;
                transition: background .3s;
                background: $tail-color;
            }
        }
        .k-steps-item-icon {
            display: inline-block;
            vertical-align: top;
            width: torem(32px);
            height: torem(32px);
            line-height: torem(32px);
            text-align: center;
            border-radius: 50%;
            border: $border-width-base $border-style-base $icon-color;
            color: $icon-color;
            margin-right: torem(8px);
            font-size: $font-size-root;
            .k-icon {
                font-size: $font-size-root;
                margin-top: torem(-2px);
                // vertical-align: baseline;
                svg{
                    fill: $icon-color;
                }
            }
            &.custom-icon{
                background: none;
                width: auto;
                height: auto;
                border:0;
                .k-icon{
                    font-size: torem(32px);
                }
            }
        }
        .k-steps-item-content {
            display: inline-block;
            vertical-align: top;
            .k-steps-item-title {
                line-height: torem(32px);
                padding-right: torem(16px);
                position: relative;
                font-size: $font-size-root;
                color: $title-color;
                display: inline-block;
            }
            .k-steps-item-description {
                max-width: torem(140px);
                color: $desc-color;
            }
        }
    }
    &.k-steps-horizontal {
        display: flex;
        .k-steps-item {
            margin-right: torem(16px);
            .k-steps-item-content {
                .k-steps-item-title {
                    &:after {
                        content: '';
                        height: 1px;
                        width: torem(9999px);
                        background: $tail-color;
                        display: block;
                        position: absolute;
                        top: torem(16px);
                        left: 100%;
                    }
                }
            }
            &:last-child {
                flex: none;
                .k-steps-item-content {
                    .k-steps-item-title {
                        &:after {
                            content: none;
                        }
                    }
                }
            }
            &.k-steps-item-next-error {
                .k-steps-item-content {
                    .k-steps-item-title {
                        &:after {
                            background: $danger!important;
                        }
                    }
                }
            }
        }
    }
    &.k-steps-vertical {
        .k-steps-item {
            display: block;
            white-space: normal;
            &:last-child .k-steps-item-tail {
                display: none;
            }
            .k-steps-item-tail {
                position: absolute;
                left: torem(16px);
                padding: torem(38px) 0 torem(6px);
                width: 1px;
                height: 100%;
                &:after {
                    content: '';
                    display: inline-block;
                    background: $tail-color;
                    height: 100%;
                    border-radius: 1px;
                    width: 1px;
                    transition: background .3s;
                    color: $tail-color;
                }
            }
            .k-steps-item-icon {
                margin-right: torem(16px);
                float: left;
            }
            .k-steps-item-content {
                overflow: hidden;
                display: block;
                .k-steps-item-description {
                    padding-bottom: torem(16px);
                    max-width: none;
                }
            }
            &.k-steps-item-next-error {
                .k-steps-item-tail {
                    &:after {
                        background: $danger!important;
                    }
                }
            }
        }
    }
    &.k-steps-sm {
        .k-steps-item {
            .k-steps-item-tail {
                position: absolute;
                left: torem(12px);
                top: 0;
                padding: torem(30px) 0 torem(6px);
            }
            .k-steps-item-icon {
                width: torem(24px);
                height: torem(24px);
                line-height: torem(24px);
                font-size: $font-size-base;
                .k-icon {
                    font-size: $font-size-base;
                }
                &.custom-icon{
                    .k-icon{
                        font-size: torem(24px);
                    }
                }
            }
            .k-steps-item-content {
                .k-steps-item-title {
                    line-height: torem(24px);
                    font-size: $font-size-base;
                    &:after {
                        top: torem(12px);
                    }
                }
            }
        }
        
        &.k-steps-center{
            .k-steps-item{
                .k-steps-item-tail {
                    margin-left:torem(82px);
                    top:torem(-2px);
                    &:after{
                        margin-left: torem(2px);
                    }
                }
                .k-steps-item-icon {
                    margin-left: torem(58px);
                }
            }
        }
    }
    &.k-steps-center {
        .k-steps-item {
            white-space: normal;
            margin-right: 0;
            overflow: visible;
            .k-steps-item-tail {
                width: 100%;
                top: torem(2px);
                margin-left: torem(86px);
                padding: 0;
                &:after{
                    height: 1px;
                    width: calc(100% - 55px);
                    margin-left: 12px;
                }
            }
            .k-steps-item-icon {
                text-align: center;
                margin: 0;
                margin-left: torem(54px);
            }
            .k-steps-item-content {
                display: block;
                text-align: center;
                width: torem(140px);
                .k-steps-item-title {
                    padding-right: 0;
                    &:after {
                        content: none;
                    }
                }
                .k-steps-item-description {
                    max-width: none;
                    text-align: left;
                }
            }

            &:last-child{
                .k-steps-item-tail {
                    display: none;
                }
            }
        }
    }
}

.k-steps-item-finish {
    .k-steps-item-tail:after {
        background: $primary!important;
    }
    .k-steps-item-icon {
        border-color: $primary!important;
        color: $primary!important;
        .k-icon{
            svg{
                fill:$primary!important;
            }
        }
        
    }
    .k-steps-item-title {
        color: rgba(0, 0, 0, 0.65)!important;
        &:after {
            background: $primary!important;
        }
    }
}

.k-steps-item-process {
    .k-steps-item-icon {
        border-color: $primary!important;
        color: white!important;
        background: $primary;
        &.custom-icon{
            color:$primary!important;
        }
        .k-icon{
            svg{
                fill:$primary!important;
            }
        }
    }
    .k-steps-item-title {
        color: rgba(0, 0, 0, 0.85)!important;
    }
    .k-steps-item-description {
        color: rgba(0, 0, 0, 0.65)!important;
    }
}

.k-steps-item-error {
    .k-steps-item-icon {
        border-color: $danger!important;
        color: $danger!important;
        &.custom-icon{
            color:$danger!important;
        }
        .k-icon{
            svg{
                fill:$danger!important;
            }
        }
    }
    .k-steps-item-title {
        color: $danger!important;
    }
    .k-steps-item-description {
        color: $danger!important;
    }
}