$prefixCls:'.k-table';
#{$prefixCls} {
    position: relative;
    #{$prefixCls}-scroll {
        overflow: auto;
        overflow-x: hidden;
    }
    #{$prefixCls}-fixed-left,
    #{$prefixCls}-fixed-right {
        position: absolute;
        overflow: hidden;
        background: white;
        z-index: 10;
    }
    #{$prefixCls}-fixed-left {
        left: 0;
        top: 0;
        bottom: 0;
        box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
    }
    #{$prefixCls}-fixed-right {
        right: 0;
        top: 0;
        bottom: 0;
        box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
    }
    #{$prefixCls}-header {
        overflow: hidden;
    }
    #{$prefixCls}-body {}
    //表格样式
    #{$prefixCls}-fixed {
        #{$prefixCls}-thead {
            >tr {
                >th {
                    background: #f5f5f5;
                    padding: torem(16px);
                    word-break: break-word;
                    border-bottom: $border-width-base $border-style-base $border-color-base;
                    &[colspan] {
                        text-align: center;
                    }
                }
                &:not(:last-child) {
                    >th {
                        &[colspan] {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
        #{$prefixCls}-tbody {
            >tr {
                >td {
                    padding: torem(16px);
                    word-break: break-word;
                    border-bottom: $border-width-base $border-style-base $border-color-base;
                }
                &.expand-row {
                    display: none;
                }
                &.stripe-row {
                    background: #f5f5f5;
                }
            }
        }
        .checkbox-cell,
        .expand-cell {
            text-align: center;
            width: torem(50px);
            height: torem(50px);
            padding: 0;
            .k-checkbox {
                margin: 0; // label .material{
                //     padding-right:0;
                // }
            }
            .k-icon {
                font-size: torem(16px);
                cursor: pointer;
                margin: 0;
            }
        }
    }
    &#{$prefixCls}-bordered {
        #{$prefixCls}-thead,
        #{$prefixCls}-tbody {
            >tr {
                >th,
                >td {
                    border-right: $border-width-base $border-style-base $border-color-base;
                }
                >th {
                    border-bottom: none;
                }
                >th[colspan] {
                    border-bottom: $border-width-base $border-style-base $border-color-base !important;
                }
            }
        }
        table {
            border: $border-width-base $border-style-base $border-color-base;
            border-bottom: none;
            border-right: none;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        text-align: left;
    }
}