$prefixCls:'.k-table';
#{$prefixCls} {
    position: relative;
    #{$prefixCls}-scroll {
        overflow: auto;
        overflow-x: hidden;
    }
    #{$prefixCls}-fixed-left,
    #{$prefixCls}-fixed-right {
        position: absolute;
        overflow: hidden;
    }
    #{$prefixCls}-fixed-left {
        left: 0;
        top: 0;
        bottom: 0;
    }
    #{$prefixCls}-fixed-right {
        right: 0;
        top: 0;
        bottom: 0;
    }
    #{$prefixCls}-header {}
    #{$prefixCls}-body {}
    //表格样式
    #{$prefixCls}-fixed {
        #{$prefixCls}-thead {}
        #{$prefixCls}-tbody {}
    }
}