.k-tag{
    display: inline-block;
    padding:.25rem .4rem;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.0625rem;
    color: $label-color;
}

.k-tag-default{
    @include label-variant(rgba(#000,(30/100)));
}

.k-tag-primary{
    @include label-variant($primary);
}

.k-tag-info{
    @include label-variant($info);
}

.k-tag-success{
    @include label-variant($success);
}

.k-tag-warning{
    @include label-variant($warning);
}

.k-tag-danger{
    @include label-variant($danger);
}