.k-tree {
    list-style: none;
    padding: 0;
    margin: 0;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        transition: all .3s ease;
    }
    li ul {
        padding-left: torem(18px);
    }
    li {
        padding: torem(3px) 0;
    }
    &-treenode {
        line-height: torem(20px);
        &-switcher {
            font-size: torem(10px);
            vertical-align: middle;
            width: torem(24px);
            height: torem(24px);
            display: inline-block;
            text-align: center;
            background: white;
            .expand {
                cursor: pointer;
            }
            .k-icon {
                margin-top: torem(2px);
                &.k-spin {
                    color: $primary;
                }
                &.icon-minussquareo,
                &.icon-plussquareo,
                &.icon-file {
                    font-size: torem(14px);
                }
                &.icon-file{
                    cursor: default;
                }
            }
        }
        .k-checkbox {
            margin: 0;
        }
        &-content {
            display: inline-block;
            vertical-align: middle;
            padding: 0 torem(5px);
            cursor: pointer;
            margin-left: torem(-2px);
            .k-icon{
                font-size: torem(16px)
            }
            &:hover {
                background: $hover-bgColor;
            }
            &-title {
                font-size: 14px;
            }
            transition: background .3s;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            &.drag-over-gap-top {
                border-top-color: $primary;
            }
            &.drag-over-gap-bottom {
                border-bottom-color: $primary;
            }
            &.drag-over-gap-middle {
                border-color: transparent;
                background: $primary;
                color: white;
                border-radius: $border-radius-sm;
            }
        }
        &-disabled {
            >.k-tree-treenode-content {
                background: none !important;
                color: $disabled-color;
                cursor: $cursor-disabled;
                &:hover {
                    background: none;
                }
            }
        }
        &.active {
            >.k-tree-treenode-content {
                background: darken($hover-bgColor, 5%);
            }
        }
    }
    &.k-tree-showLine {
        li {
            position: relative;
            &:not(:last-child):before {
                content: ' ';
                width: 1px;
                border-left: 1px solid #d9d9d9;
                height: 100%;
                position: absolute;
                left: torem(12px);
                margin: torem(22px) 0;
            }
        }
    }
}