.k-tree {
    list-style: none;
    padding: 0;
    margin: 0;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        transition: all .3s ease;
    }
    li ul {
        padding-left: torem(18px);
    }
    li {
        padding: torem(3px) 0;
    }
    &-treenode {
        line-height: torem(20px);
        
        &-switcher {
            font-size: torem(8px);
            vertical-align: middle;
            width: torem(24px);
            height: torem(24px);
            display: inline-block;
            text-align: center;
            .expand {
                cursor: pointer;
            }
            .k-icon.k-spin {
                font-size: torem(10px);
                color: $primary;
            }
        }
        .k-checkbox {
            margin: 0;
        }
        &-content {
            display: inline-block;
            vertical-align: middle;
            padding: 0 torem(5px);
            cursor: pointer;
            margin-left: torem(-2px);
            &:hover {
                background: $hover-bgColor;
            }
            &-title {
                font-size: 14px;
            }
            transition: background .3s;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            &.drag-over-gap-top {
                border-top-color: $primary;
            }
            &.drag-over-gap-bottom {
                border-bottom-color: $primary;
            }
        }
        &-disabled {
            >.k-tree-treenode-content {
                background: none !important;
                color: $disabled-color;
                cursor: $cursor-disabled;
                &:hover {
                    background: none;
                }
            }
        }
        &.active {
            >.k-tree-treenode-content {
                background: darken($hover-bgColor, 5%);
            }
        }
    }
}