$prefix:'upload';
@include block($prefix) {
    @include element('container') {}
    @include element('file') {
        display: none;
    }
    @include element('dragger') {
        border: 1px dashed #d9d9d9;
        position: relative;
        width: 100%;
        height: 200px;
        background: #fafafa;
        cursor: pointer;
    }
}

@include block('#{$prefix}-list-text') {
    @include element('item'){
        display: flex;
        line-height: torem(25px);
    }
    @include element('info'){
        
    }
}