.k-rate {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: torem(20px);
    color:#e8e8e8;
    display: inline-block;

    svg{
        fill:#e8e8e8;
    }

    &.disabled{ 
        >.k-rate-star{
            cursor:$cursor-disabled;
            &:hover{
                transform: scale(1);
            }
        }
    }

    > .k-rate-star {
        margin-right: torem(4px);
        display: inline-block;
        position: relative;
        transition: all 0.3s;
        cursor: pointer;
        &:hover{
            transform-origin: 50% 50%;
            transform: scale(1.2);
        }

        &.k-rate-star-half {
            .k-rate-star-first{
                color:#fadb14;
                opacity: 1;
                svg{
                    fill:#fadb14;
                }
            }
        }

        &.k-rate-star-full {
            color:#fadb14;
            svg{
                fill:#fadb14;
            }
        }

        .k-rate-star-first {
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            overflow: hidden;
            opacity: 0;
            user-select: none;
        }
        .k-rate-star-second {
           
        }
    }
}
