@import '../../assets/styles/global.scss';

.#{$namespace}-breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;

    &:last-child {
      font-weight: 700;

      .#{$namespace}-breadcrumb__separator {
        display: none;
      }
    }
  }

  &__separator {
    margin: 0 8px;
  }

  &__current {
    font-size: 18px;
    font-weight: 500;
  }

  &__link {
      display: flex;
      align-items: center;
  }

  &__icon{
      margin-right: $space-sm;
  }
}
