.k-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    min-width: torem(196px);
    .k-select-single {
        border: $border-width-base $border-style-base $border-color-base;
        border-radius: $border-radius;
        width: 100%;
        cursor: pointer;
        height: torem(40px);
        line-height: torem(40px);
        padding-left: torem(12px);
        padding-right: torem(12px);
        font-size: $font-size-base;
        .k-icon {
            position: absolute;
            right: torem(5px);
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 1;
            &.icon-caretdown {
                fill: #bfbfbf;
            }
        }
    }
    .k-select-placeholder {
        color: #bfbfbf;
    }
    &.k-select-sm {
        .k-select-single {
            height: torem(34px);
            line-height: torem(34px);
            font-size: $font-size-sm;
            padding: 0 torem(10px);
        }
    }
    &.k-select-lg {
        .k-select-single {
            height: torem(52px);
            line-height: torem(52px);
            font-size: $font-size-lg;
            padding: 0 torem(16px);
        }
    }
    &.disabled .k-select-single {
        cursor: $cursor-disabled;
        background: $disabled-bgColor;
        color: $disabled-color;
        .k-icon {
            cursor: $cursor-disabled;
            svg {
                fill: $disabled-color;
            }
        }
    }
}