.k-calendar {
    &-header {
        display: flex;
        justify-content: space-between;
        height: torem(45px);
        line-height: torem(45px);
        &-middle {
            span {
                font-size: torem(24px);
            }
        }
        margin-bottom: torem(10px);
    }
    &-year {
        min-height: torem(400px);
        display: flex;
        flex-direction: column;
        border: $border-width-base $border-style-base $border-color-base;
        border-radius: $border-radius;
        &-row {
            display: flex;
            flex: 1;
            border-bottom: $border-width-base $border-style-base
                $border-color-base;
            &:last-child {
                border-bottom: none;
            }
            &-cell {
                flex: 1;
                position: relative;
                padding: torem(10px);
                border-right: $border-width-base $border-style-base
                    $border-color-base;
                cursor: pointer;
                transition: background 0.3s ease;
                color: rgba(0, 0, 0, 0.65);
                &:hover {
                    background: #e6f7ff;
                }
                &:last-child {
                    border-right: none;
                }
                .month {
                    position: absolute;
                    right: torem(10px);
                    top: torem(10px);
                    font-size: $font-size-lg;
                    &.active {
                        color: $primary;
                    }
                }
                .number {
                    font-size: torem(28px);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    &-month {
        border: $border-width-base $border-style-base $border-color-base;
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: torem(710px);
        &-header {
            height: torem(35px);
            line-height: torem(35px);
        }
        &-body {
            position: relative;
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        &-row {
            position: relative;
            overflow: hidden;
            display: flex;
            border-bottom: $border-width-base $border-style-base
                $border-color-base;
            flex: 1;
            &:first-child {
                border-top: $border-width-base $border-style-base
                    $border-color-base;
            }
            &:last-child {
                border-bottom: none;
            }
            &-cell {
                border-right: $border-width-base $border-style-base
                    $border-color-base;
                flex: 1;
                padding: torem(8px);
                &.gray {
                    color: #c0c4cc;
                }
                .active {
                    color: $primary;
                }
                &.head-cell {
                    padding: 0;
                    text-align: center;
                    font-weight: bold;
                }
                &.body-cell {
                }
                &:last-child {
                    border-right: none;
                }
            }
            &-cell-container {
                position: absolute;
                display: flex;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: 100%;
            }
            &-event-container {
                position: relative;
                flex: 1;
                margin-top: torem(35px);
                display: flex;
                .grid-cell {
                    flex: 1;
                    min-height: torem(20px);
                    &-more {
                        position: absolute;
                        bottom: 0;
                        font-size: $font-size-sm;
                        color: #757575;
                        padding: 0 torem(5px);
                        cursor: pointer;
                        height: torem(18px);
                        line-height: torem(18px); // width:14.29%
                    }
                }
            }
        }
    }
}

.k-calendar-popover {
    position: absolute;
    background: white;
    height: torem(160px);
    top: 0;
    left: 0;
    width: torem(200px);
    margin-left: torem(-30px);
    margin-top: torem(-60px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: torem(10px);
    border-radius: $border-radius;
    &-header {
        position: relative;
        margin-bottom: torem(6px);
        .k-icon {
            position: absolute;
            right: 0;
            cursor: pointer;
        }
    }
    &-body {
        overflow-y: auto;
        overflow-x: hidden;
        height: torem(120px);
    }
}

.k-calendar-event {
    height: torem(20px);
    padding-right: torem(3px);
    padding-left: torem(5px);
    position: absolute;
    &-progress {
        height: torem(18px);
        line-height: torem(18px);
        background: #7986cb;
        border-radius: $border-radius;
        cursor: pointer;
        padding: 0 torem(5px);
        color: white;
        font-size: $font-size-sm;
    }
}
