.k-collapse {
    border-radius: $border-radius;
    border: $border-width-base $border-style-base $border-color-base;
    .k-collapse-item {
        border-top: $border-width-base $border-style-base $border-color-base;
        .k-collapse-head {
            padding: torem(10px) torem(15px);
            position: relative;
            cursor: pointer;
            background: #F5F5F5;
            .k-collapse-icon {
                position: absolute;
                right: torem(5px);
                top: 50%;
                transform: translateY(-50%);
            }
            &.disabled {
                cursor: $cursor-disabled;
                background: $disabled-bgColor;
                color: $disabled-color;
                .k-icon svg{
                    fill:$disabled-color;
                }
            }
        }
        .k-collapse-body {
            border-top: $border-width-base $border-style-base $border-color-base; 
            padding: torem(10px) torem(15px);
            transition: all .3s ease;
        }
        &:first-child {
            border-top: none;
        }
    }
}

