.k-modal {
    border-radius: $border-radius;
    border: 1px solid $modal-border-color;
    box-shadow: $box-shadow-base;
    min-width: 400px;
    position: fixed;
    background: #fff;
    left: 50%;
    top: 0;
    z-index: 1050;
    opacity: 0;
    transform: translate(-50%, -100%);
    transition: top .4s, opacity .4s, transform .4s;
    &.in {
        top: 50%;
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    .k-modal-head {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        font-weight: bold;
        position: relative;
        border-bottom: 1px solid #e5e5e5;
        padding: torem(15px);
        font-size: 1.125rem;
        .close {
            color: #000;
            opacity: .2;
            position: absolute;
            right: torem(15px);
            font-size: 1.25rem;
            cursor: pointer;
            margin: 0;
            &:hover {
                opacity: .5;
            }
        }
    }
    .k-modal-body {
        padding: torem(15px);
        font-size: 1rem;
        color: $modal-container-color;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .k-modal-foot {
        padding: torem(15px);
        text-align: right;
        border-top: 1px solid #e5e5e5;
        .k-btn {
            margin-left: torem(8px);
            &:first-child{
                margin-left: 0;
            }
        }
    }
    &.k-modal-material {
        .k-modal-head {
            border-bottom: none;
            padding: 1.5rem 1.5rem 1.25rem;
            .close {
                top: 1.25rem;
                right: 1.5rem;
            }
        }
        .k-modal-body {
            padding: 0 1.5rem 1.5rem;
        }
        .k-modal-foot {
            border-top: none;
        }
    }
}

.k-modal-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    display: none;
    z-index: 1000;
    &.in {
        opacity: .5;
        display: block;
    }
}