.k-loading {
    position: relative;
    
    overflow: hidden;
    &:before {
        content: ' ';
        position: absolute;
        background: white;
        opacity: .0;
        z-index: 99;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: all .3s ease;
        visibility: hidden;
    }
    &.in {
        &:before {
            visibility: visible;
            opacity: .7;
        }
        .k-loading-container {
            visibility: visible;
            opacity: 1;
        }
    }
    .k-loading-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        text-align: center;
        visibility: hidden;
        transition: all .3s ease;
        opacity: 0;
        .k-icon {
            font-size: 1.5rem;
            color: $primary;
            svg{
                fill: $primary;
            }
        }
        .k-loading-text {
            font-size: $font-size-lg;
            color: $primary;
        }
    }
}