$white: #fff;
$black: #000;

$layout-bg-color: $black;
$layout-overlay-color: #424242;

// status
$primary-color: #2196f3;
$info-color: #03a9f4;
$success-color: #4caf50;
$danger-color: #f44336;
$warning-color: #ff9800;

// text
$text-color-primary: #d9d9d9;
$text-color-regular: #a6a6a6;
$text-color-secondary: #737373;
$text-color-placeholder: #404040;

// disabled
$disabled-color: $text-color-secondary;

// border
$border-color-base: $text-color-regular;
$border-hover-color: $text-color-primary;

// box-shadow
$box-shadow-color: #262626;
$box-shadow-base: 0 2px 8px $box-shadow-color;

// avatar
$avatar-bg-color: $text-color-primary;
$avatar-font-color: $layout-bg-color;

// button
$button-border-color: $border-color-base;
$button-hover-bg-color: $text-color-primary;
$button-hover-border-color: transparent;
$button-hover-font-color: $layout-bg-color;
$button-active-bg-color: $text-color-regular;
$button-active-border-color: transparent;
$button-active-font-color: $layout-bg-color;

// card
$card-bg-color: $layout-overlay-color;

// collapse
$collapse-header-bg-color: $layout-overlay-color;
$collapse-panel-bg-color: $layout-overlay-color;

// input
$input-addon-bg-color:$layout-overlay-color;
$input-bg-color:$black;

// list
$list-bg-color: $layout-overlay-color;

// message
$message-bg-color: $layout-overlay-color;

// menu
$menu-selected-bg-color: $primary-color;
$menu-selected-font-color: $white;
$menu-hover-font-color:$primary-color;
$menu-bg-color: $layout-overlay-color;

// modal
$modal-bg-color: $layout-overlay-color;

// notification
$notification-bg-color: $layout-overlay-color;

// pagination
$pagination-hover-bg-color: $text-color-regular;
$pagination-hover-font-color: $white;
$pagination-active-bg-color: $text-color-regular;
$pagination-active-font-color: $white;

// popover
$popover-bg-color: $layout-overlay-color;
$popover-left-box-shadow: 3px -3px 8px $box-shadow-color;
$popover-top-box-shadow: 3px 3px 8px $box-shadow-color;
$popover-right-box-shadow: -3px 3px 8px $box-shadow-color;
$popover-bottom-box-shadow: -3px -3px 8px $box-shadow-color;

// progress
$progress-inner-bg-color: $white;
$progress-inner-font-color: $black;
$progress-outer-bg-color: $layout-overlay-color;

// rate
$rate-font-color: #e8e8e8;
$rate-active-font-color: #fadb14;

// switch
$switch-dot-bg-color:$white;
$switch-dot-checked-bg-color:$white;
$switch-inner-color: $white;
$switch-inner-checked-color: $white;

// table
$table-cell-bg-color: $layout-overlay-color;
$table-bg-color: $black;

// tag
$tag-bg-color: $text-color-primary;
$tag-font-color: $black;

// timepicker
$timepicker-bg-color: $layout-overlay-color;

// tabs
$tabs-nav-bg-color: $layout-overlay-color;
$tabs-nav-icon-color: $text-color-regular;

// timeline
$timeline-head-bg-color: $layout-overlay-color;

// tooltip
$tooltip-bg-color: $white;
$tooltip-font-color: $black;
