$white:#fff;
$black:#000;

$layout-bg-color:$black;
$layout-overlay-color:#424242;

// status
$primary-color: #2196f3;
$info-color: #03a9f4;
$success-color: #4caf50;
$danger-color: #f44336;
$warning-color: #ff9800;

// text
$text-color-primary:#D9D9D9;
$text-color-regular: #A6A6A6;
$text-color-secondary: #737373;
$text-color-placeholder:#404040;

// disabled
$disabled-color:$text-color-secondary;;

// border
$border-color-base:$text-color-regular;
$border-hover-color:$text-color-primary;


// box-shadow
$box-shadow-color:#262626;
$box-shadow-base: 0 2px 8px $box-shadow-color;

// avatar
$avatar-bg-color: $text-color-primary;
$avatar-font-color:$layout-bg-color;


// button
$button-border-color:$border-color-base;
$button-hover-bg-color:$text-color-primary;
$button-hover-border-color:transparent;
$button-hover-font-color:$layout-bg-color;
$button-active-bg-color:$text-color-regular;
$button-active-border-color:transparent;
$button-active-font-color:$layout-bg-color;

// collapse
$collapse-header-bg-color:$layout-overlay-color;
$collapse-panel-bg-color:$layout-overlay-color;

// list
$list-bg-color:$layout-overlay-color;

// pagination
$pagination-hover-bg-color:$text-color-regular;
$pagination-hover-font-color:$white;
$pagination-active-bg-color:$text-color-regular;
$pagination-active-font-color:$white;

// popover
$popover-bg-color: $layout-overlay-color;
$popover-left-box-shadow:3px -3px 8px $box-shadow-color;
$popover-top-box-shadow:3px 3px 8px $box-shadow-color;
$popover-right-box-shadow:-3px 3px 8px $box-shadow-color;
$popover-bottom-box-shadow:-3px -3px 8px $box-shadow-color;

// progress
$progress-inner-bg-color:$white;
$progress-inner-font-color:$black;
$progress-outer-bg-color:$layout-overlay-color;

// tag
$tag-bg-color:$text-color-primary;
$tag-font-color:$black;

// tooltip
$tooltip-bg-color:$white;
$tooltip-font-color:$black;
