$white:#fff;
$black:#000;

$layout-bg-color:$black;
$layout-overlay-color:#424242;

// status
$primary-color: #2196f3;
$info-color: #03a9f4;
$success-color: #4caf50;
$danger-color: #f44336;
$warning-color: #ff9800;

// text
$text-color-primary:rgba($white,.85);
$text-color-regular: rgba($white, .65);
$text-color-secondary: rgba($white, .45);
$text-color-placeholder:rgba($white, .25);
$disabled-color:$text-color-placeholder;

// border
$border-color-base:$text-color-placeholder;
$border-hover-color:$text-color-primary;


// box-shadow
$box-shadow-base: 0 2px 8px rgba($white, 0.15);

// avatar
$avatar-bg-color: $text-color-primary;
$avatar-font-color:$layout-bg-color;


// button
$button-border-color:$border-color-base;
$button-hover-bg-color:$text-color-primary;
$button-hover-border-color:transparent;
$button-hover-font-color:$layout-bg-color;
$button-active-bg-color:$text-color-regular;
$button-active-border-color:transparent;
$button-active-font-color:$layout-bg-color;

// list
$list-bg-color:$layout-overlay-color;

// tag
$tag-bg-color:$text-color-primary;
$tag-font-color:$black;