$white:#fff;
$black:#000;

$bg-color:$white;

// status
$primary-color: #2196f3;
$info-color: #03a9f4;
$success-color: #4caf50;
$danger-color: #f44336;
$warning-color: #ff9800;

// text
$text-color-primary:rgba($black, .85);
$text-color-regular: rgba($black, .65);
$text-color-secondary: rgba($black, .65);
$text-color-placeholder:rgba($black, .25);

$disabled-color:$text-color-placeholder;


// border
$border-color:#c8c8c8;


// box-shadow
$box-shadow-base: 0 2px 8px rgba($default-color, 0.15);


// button
$button-hover-bg-color:rgba($black, .85);
$button-hover-border-color:rgba($black, .85);
$button-hover-font-color:rgba($white, .85);

$button-active-bg-color:darken($white, .85);
$button-active-border-color:darken($white, .85);
$button-active-font-color:$button-hover-font-color;

// tag
$tag-bg-color:$text-color-placeholder;