@import '../src/assets/styles/index.scss';

.storybook-readme-story {
  display: flex;
  flex-direction: column-reverse;
}

.story-demo {
  padding: 16px;

  h4 {
    margin-bottom: 5px;
    color: $text-color-primary;
    font-weight: normal;
  }

  &-checkbox,
  &-radio {
    display: flex;
    align-items: center;
  }

  &-grid {
    .k-col {
      .gutter-box {
        padding: 16px;
        background: rgba(0, 160, 233, 0.7);
        color: #fff;
        text-align: center;
      }

      &:nth-child(odd) {
        .gutter-box {
          background: #00a0e9;
        }
      }
    }

    .k-row {
      margin-bottom: 10px;
    }
  }

  &-tooltip {
    padding-top: 50px;

    &.placement {
      padding-left: 100px;

      .k-button {
        margin-bottom: 10px;
        width: 80px;
      }
    }
  }

  &-popover,
  &-popconfirm {
    padding: 100px;

    &.placement {
      padding-left: 200px;

      .k-button {
        margin-bottom: 10px;
        width: 80px;
      }
    }
  }

  &-lazyload {
    .k-lazyload {
      height: 400px;
      width: 400px;
      border: 1px solid #ccc;
      overflow-y: auto;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
