.k-popPanel{
    position: absolute;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border: $border-width-base $border-style-base $border-color-base;
    border-radius: $border-radius;
    background: white;
    z-index: 100;
}