$prefixCls:'.k-table';
#{$prefixCls} {
    position: relative;
    #{$prefixCls}-scroll {
        overflow: auto;
        overflow-x: hidden;
        #{$prefixCls}-header {
            overflow: scroll;
            overflow-x: scroll;
            margin-bottom: torem(-21px);
        }
        #{$prefixCls}-body {
            overflow: scroll;
        }
    }
    #{$prefixCls}-fixed-left,
    #{$prefixCls}-fixed-right {
        position: absolute;
        overflow: hidden;
        background: white;
        z-index: 10;
        #{$prefixCls}-header {
            background: #f5f5f5;
            position: absolute;
            top: 0;
            left: 0;
        }
        #{$prefixCls}-body {
            position: absolute;
            top: 0;
            left: 0;
        }
        #{$prefixCls}-body__scroll {
            margin-bottom: torem(-21px);
            padding-bottom: 0;
            #{$prefixCls}-body-inner {
                overflow: scroll;
            }
        }
    }
    #{$prefixCls}-fixed-left {
        left: 0;
        top: 0;
        box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
        #{$prefixCls}-body__scroll {
            #{$prefixCls}-body-inner {
                margin-right: torem(-21px);
            }
        }
    }
    #{$prefixCls}-fixed-right {
        right: 0;
        top: 0;
        box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
        #{$prefixCls}-header {
            left: auto;
            right: 0;
        }
        #{$prefixCls}-body {
            right: 0;
            left: auto;
        }
    }
    #{$prefixCls}-header {}
    #{$prefixCls}-body {
        background: white;
    } //表格样式
    #{$prefixCls}-fixed {
        #{$prefixCls}-thead {
            >tr {
                >th {
                    background: #f5f5f5;
                    padding: torem(16px);
                    word-break: break-word;
                    border-bottom: $border-width-base $border-style-base $border-color-base;
                    &[colspan] {
                        text-align: center;
                    }
                    ::after {
                        content: ' ';
                        clear: both;
                    }
                }
                &:not(:last-child) {
                    >th {
                        &[colspan] {
                            border-bottom: 0;
                        }
                    }
                }
            }
            &-content {
                display: flex;
                &__title {
                    // display: inline-block;
                    // vertical-align: middle;
                    flex: 1;
                }
            }
        }
        #{$prefixCls}-tbody {
            >tr {
                >td {
                    padding: torem(16px);
                    word-break: break-word;
                    border-bottom: $border-width-base $border-style-base $border-color-base;
                }
                &.expand-row {
                    display: none;
                    &--show {
                        display: table-row;
                    }
                }
                &.stripe-row {
                    background: #f5f5f5;
                }
            }
        }
        .checkbox-cell,
        .expand-cell {
            text-align: center;
            width: torem(50px);
            height: torem(50px);
            padding: 0;
            .k-checkbox {
                margin: 0; // label .material{
                //     padding-right:0;
                // }
            }
            .k-icon {
                font-size: torem(16px);
                cursor: pointer;
                margin: 0;
            }
        }
    }
    &#{$prefixCls}-bordered {
        #{$prefixCls}-thead,
        #{$prefixCls}-tbody {
            >tr {
                >th,
                >td {
                    border-right: $border-width-base $border-style-base $border-color-base;
                }
                >th {
                    border-bottom: none;
                }
                >th[colspan] {
                    border-bottom: $border-width-base $border-style-base $border-color-base !important;
                }
            }
        }
        table {
            border: $border-width-base $border-style-base $border-color-base;
            border-bottom: none;
            border-right: none;
        }
        #{$prefixCls}-fixed-left {
            table {
                border-right: none;
            }
        }
        #{$prefixCls}-fixed-right {
            table {
                border-left: none;
            }
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        text-align: left;
        table-layout: fixed;
    }
    &-position-left {
        #{$prefixCls}-fixed-left {
            box-shadow: none;
        }
    }
    &-position-right {
        #{$prefixCls}-fixed-right {
            box-shadow: none;
        }
    }
    &-bottom {
        text-align: right;
    }
    &-sorter {
        // display: flex;
        // flex-direction: column;
        font-size: torem(10px);
        cursor: pointer;
        // width: torem(16px);
        .k-icon{
            // width:torem(8px);
            // height:torem(8px);
            // margin: 0;
            display: block;
        }
    }
    &-filter{
        font-size: torem(12px);
        cursor: pointer;
        // width: torem(16px);
        .k-icon{
            // margin: 0;
            vertical-align: middle;
        }

        &__btns{
            border-top: $border-width-base $border-style-base $border-color-base;
            text-align: center;
            padding:torem(7px) torem(8px);
            .k-btn{
                margin:0 torem(4px);
            }
        }
    }
}