@import '../../assets/styles/global.scss';

$prefix:#{$namespace}-tooltip;

.#{$prefix} {
  @include popover($prefix, $tooltip-bg-color, $tooltip-font-color);
  
  &-handle{
    display: inline-block;
  }

  @each $color,
  $value in $colors {
    &--#{$color} {
      color: $white;
      background: $value;

      .#{$prefix}__arrow {
        background: $value;
      }

    }
  }
}