@import './themes/light.scss';
$namespace: 'k';
$colors: (primary: $primary-color, info: $info-color, success: $success-color, warning: $warning-color, danger: $danger-color, );
$sizes:(xs, sm, md, lg);

// font
$font-family: "Helvetica",
"sans-serif";
$font-size-xs:10px;
$font-size-sm:12px;
$font-size-base:14px;
$font-size-lg:16px;

// spacing
$space-xs: 2px;
$space-sm: 4px;
$space-base: 8px;
$space-lg: 16px;
$space-xl: 24px;
$space-xxl: 32px;
$space-xxxl: 48px;

$line-height: 1.5;

// radius
$radius-sm:2px;
$radius-base: 4px;
$radius-circle: 50%;

// animation
$animation-time: 0.3s;
$transition-time: 0.2s;
$ease-in-out: ease-in-out;
