@import "./variables.scss";
@import "../../index.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a img {
  border: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $text-color;
  line-height: $line-height;
}