@import './global.scss';
@import '../../components/index.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a img {
  border: 0;
}

a {
  text-decoration: none;
  color: $text-color-primary;

  &:hover {
    color: $primary-color;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: inherit;
  font-family: inherit;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $text-color-primary;
  line-height: $line-height;
  background-color: $layout-bg-color;
}
