@import '../src/assets/styles/index.scss';

.story-demo {
  padding: 16px;

  &-grid {
    .k-col {
      .gutter-box {
        padding: 16px;
        background: rgba(0, 160, 233, 0.7);
        color: white;
        text-align: center;
      }

      &:nth-child(odd) {
        .gutter-box {
          background: #00a0e9;
        }
      }
    }

    .k-row {
      margin-bottom: 10px;
    }

    h4 {
      margin-bottom: 5px;
      color: rgba(69, 90, 100, 0.6);
      font-weight: normal;
      font-size: 13px;
    }
  }
}